p {
  font-size: 40px;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    color: #b3001e;
  }
  25% {
    color: #ff3355;
    transform: scale(0.5);
  }
  50% {
    color: #ff8095;
    transform: scale(1);
    transform: rotate(-45deg)
  }
  75% {
    color: #b3001e;
    transform: scale(0.5);
  }
  100% {
    color: #ffc0cb;
    transform: scale(1);
  }
}
